# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# ===============================
# Data (IMPORTANT)
# ===============================
data/
*.csv
*.parquet

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Node / Dashboard
# ===============================
node_modules/
npm-debug.log*

# ===============================
# Docker
# ===============================
*.env
.env

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
